<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/css.css">
</head>
<p>your user id is {{ value }}</p>
<body>
<label for=""></label>
<form action="{{ '/useresapi.py' }}" method="post" name="ids" id="info">
<label>please select a user <select id="user" >
  <option value="1" >1</option>
  <option value="2" >2</option>
  <option value="3" >3</option>
  <option value="4" >4</option>
  <option value="5" >5</option>
</select> </label>

    <label for="" id="total-spending">your total spending  <span id="total"></span></label>

</form>

<div>


</div>


</body>
</html>